<h3>Search for friends</h3>

<div class="friend-lookup row">

  <%= form_tag users_path,
               method: :get,
               remote: true,
               class: "friend-lookup__form col-xs-12",
               id: "lookup-form" do %>

    <div class="form-group form-group-lg">
      <div class="input-group">

        <%= text_field_tag :search,
          params[:search],
          autofocus: true,
          class: "form-control",
          placeholder: "Enter name or email" %>

        <div class="input-group-btn">
          <%= button_tag(type: :submit, class: "btn btn-lg btn-primary") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>

      </div>
    </div>

  <% end %>

  <div id="lookup-results" class="friend-lookup__results col-xs-12"></div>

</div>
